<div class="container">
  <div class="card-conatiner">
    <div class="categories">
      <h3>კატეგორიები</h3>
      <div class="line"></div>
      <div class="cat-container">
        <div>
          <span>(14)</span>
          <p>ანდროლოგი</p>
        </div>
        <div>
          <span>(61)</span>
          <p>ანესთეზიოლოგი</p>
        </div>
        <div>
          <span>(467)</span>
          <p>კარდიოლოგი</p>
        </div>
        <div>
          <span>(14)</span>
          <p>კოსმეტოლოგი</p>
        </div>
        <div>
          <span>(103)</span>
          <p>ლაბორანტი</p>
        </div>
        <div>
          <span>(366)</span>
          <p>ოჯახის ექიმი</p>
        </div>
        <div>
          <span>(8)</span>
          <p>პედიატრი</p>
        </div>
        <div>
          <span>(14)</span>
          <p>გინეკოლოგი</p>
        </div>
        <div>
          <span>(20)</span>
          <p>ენდოკრინოლოგი</p>
        </div>
        <div>
          <span>(171)</span>
          <p>თერაპევტი</p>
        </div>
        <hr />
        <div class="full-view">
          სრულად ნახვა
          <img src="../../../assets/arrow.png" />
        </div>
      </div>
    </div>

    <div class="card-container">
      <div class="cards">
        <div class="card">
          <div class="card-pic">
            <div class="pic">
              <img src="../../../assets/eye.png" />
              <p>1234</p>
            </div>
            <div><img src="../../../assets/pin-svgrepo-com 1.png" /></div>
          </div>
          <div class="profile">
            <img src=".../../../../../assets/Ellipse 5.png" />
            <p>გიორგი ხორავა</p>
            <p class="proff">კარდიოლოგი / არითმოლოგი</p>
            <div>
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
            </div>
            <button>მიღებაზე ჩაწერა</button>
          </div>
        </div>
        <div class="card">
          <div class="card-pic">
            <div class="pic">
              <img src="../../../assets/eye.png" />
              <p>1234</p>
            </div>
            <div><img src="../../../assets/pin-svgrepo-com 1.png" /></div>
          </div>
          <div class="profile">
            <img src=".../../../../../assets/Ellipse 7.png" />
            <p>გიორგი ხორავა</p>
            <p class="proff">კარდიოლოგი / არითმოლოგი</p>
            <div>
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
            </div>
            <button>მიღებაზე ჩაწერა</button>
          </div>
        </div>
        <div class="card">
          <div class="card-pic">
            <div class="pic">
              <img src="../../../assets/eye.png" />
              <p>1234</p>
            </div>
            <div><img src="../../../assets/pin-svgrepo-com 1.png" /></div>
          </div>
          <div class="profile">
            <img src=".../../../../../assets/Ellipse 2.png" />
            <p>გიორგი ხორავა</p>
            <p class="proff">კარდიოლოგი / არითმოლოგი</p>
            <div>
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
            </div>
            <button>მიღებაზე ჩაწერა</button>
          </div>
        </div>
        <div class="card">
          <div class="card-pic">
            <div class="pic">
              <img src="../../../assets/eye.png" />
              <p>1234</p>
            </div>
            <div><img src="../../../assets/pin-svgrepo-com 1.png" /></div>
          </div>
          <div class="profile">
            <img src=".../../../../../assets/Ellipse 3.png" />
            <p>გიორგი ხორავა</p>
            <p class="proff">კარდიოლოგი / არითმოლოგი</p>
            <div>
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
            </div>
            <button>მიღებაზე ჩაწერა</button>
          </div>
        </div>
        <div class="card">
          <div class="card-pic">
            <div class="pic">
              <img src="../../../assets/eye.png" />
              <p>1234</p>
            </div>
            <div><img src="../../../assets/pin-svgrepo-com 1.png" /></div>
          </div>
          <div class="profile">
            <img src=".../../../../../assets/Ellipse 4.png" />
            <p>გიორგი ხორავა</p>
            <p class="proff">კარდიოლოგი / არითმოლოგი</p>
            <div>
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
            </div>
            <button>მიღებაზე ჩაწერა</button>
          </div>
        </div>
        <div class="card">
          <div class="card-pic">
            <div class="pic">
              <img src="../../../assets/eye.png" />
              <p>1234</p>
            </div>
            <div><img src="../../../assets/pin-svgrepo-com 1.png" /></div>
          </div>
          <div class="profile">
            <img src=".../../../../../assets/Ellipse 6.png" />
            <p>გიორგი ხორავა</p>
            <p class="proff">კარდიოლოგი / არითმოლოგი</p>
            <div>
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
              <img src="../../../assets/star.png" />
            </div>
            <button>მიღებაზე ჩაწერა</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
