.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 90px;
  height: 600px;
  overflow-y: scroll;
}
.register-header {
  margin-left: 180px;
  margin-bottom: 40px;
}

.form-container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container h1 {
  color: rgba(24, 164, 225, 1);
  font-size: 26px;
  padding: 10px 40px;
}

form {
  display: flex;
  max-width: 1000px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  color: rgba(5, 51, 84, 1);
  font-size: 15px;
  gap: 10px;
}
input {
  width: 300px;
  height: 50px;
  border: 1px solid rgba(236, 242, 248, 1);
  border-radius: 50px;
  outline-style: none;
  padding: 20px;
}
.categories {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 10px;
}

button {
  width: 140px;
  height: 50px;
  background-color: rgba(5, 51, 84, 1);
  border-style: none;
  color: white;
  border-radius: 50px;
}
