<div class="container">
  <div class="footer_content">
    <div class="footer-logo">
      <img src="../../../assets/logo 2.png" />
      <h1>კლინიკა</h1>
    </div>
    <div class="footer-main">
      <div class="footer-head">
        <h1>ინფორმაცია</h1>
        <h1>პაციენტებისთვის</h1>
        <h1>კონტაქტი</h1>
        <h1>გამოგვყევით</h1>
      </div>

      <div class="footer-head1">
        <div class="footer-col">
          <p>ჩვენ შესახებ</p>
          <p>პარტნიორები</p>
          <p>ექიმებისთვის</p>
          <p>კლინიკებისთვის</p>
          <p>აფთიაქებისთვის</p>
        </div>
        <div class="footer-col">
          <p>ექიმები</p>
          <p>კლინიკები</p>
          <p>ანოტაციები</p>
          <p>ბლოგი</p>
          <p>მედია</p>
        </div>
        <div class="footer-col">
          <p>სამუშაო დღეები : ორშ - პარ</p>
          <p>სამუშაო დრო : 9:00 - 17:00</p>
          <p>იაკობ ნიკოლაძე №10</p>
          <p>032 2 100 100</p>
        </div>
        <div class="footer-col col4">
          <p>Facebook</p>
          <p>Instagram</p>
          <p>Youtube</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>copyright</p>
  </div>
</div>
