.container {
  max-width: 1920px;
  margin: 0 auto;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}

.footer_content {
  width: 100%;
  margin: 0 auto;
  min-height: 300px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  background-color: rgba(5, 51, 84, 1);
}

.footer-logo {
  display: flex;
  align-items: end;
  cursor: pointer;
  flex: 1;
  height: 94px;
  padding-left: 70px;
}

.footer-logo h1 {
  font-size: 22px;
  font-weight: 400;
}

.footer-main {
  flex: 3;
  padding: 25px;
}

.footer-head {
  width: 86%;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  border-bottom: 1px solid rgba(236, 242, 248, 0.3);
}
.footer-main h1 {
  font-size: 14px;
  letter-spacing: 1.1px;
}

.footer-head1 {
  width: 93%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.footer-col {
  width: 140px;
  display: flex;
  flex-direction: column;

  gap: 7px;
}

.copyright {
  width: 100%;
  margin: 0 auto;
  height: 35px;
  background-color: rgba(236, 242, 248, 1);
  display: flex;
  align-items: center;
}
.copyright p {
  color: rgba(5, 51, 84, 1);
  padding-left: 70px;
}
